header{
border: 1px solid red;
}
ul{
  border: 1px solid red;
}
article{
  border: 1px solid red;
}
aside{
  border: 1px solid red;
}
footer{
  border: 5px solid red;
}
h1, h2, li{
  color: #1F62AE;
}
